<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">Scroll down to find exciting projects that Myles Parker has worked on and is working on currently. This site will be updated with new items as time goes on, so waste no time and dive in!</p>
    <p>
      <%= link_to "Find Out More About Me", about_me_path, class: "btn btn-primary" %>
      <%= link_to "My Blog", blogs_path, class: "btn btn-secondary" %>
    </p>
  </div>
</section>