<h1>Contact Me</h1>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>
    <p>3000 N Center St, Lehi, UT 84043</p>
    
    <h3>Phone</h3>
    <p><%= number_to_phone "8015555555" %></p>
    
    <h3>Email</h3>
    <p><a href="mailto:test@example.com?subject=PortfolioContact" "test@example.com">Email Me</a></p>
  </div>
  
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.2236349801997!2d-111.85008434856485!3d40.42604667926273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d8005b0e3ece1%3A0x7313bac406ac37dc!2sSkyridge+High+School!5e0!3m2!1sen!2sus!4v1498686766743"
    width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>